
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
	text-decoration: none;
	outline: none;
}


body {
    font-family: 'Noto Sans JP', sans-serif;	
	background: #f2f2f2;
}

.container{
    display: flex;
    justify-content: space-around;
}
/**=================*/
/**======HEADER=====*/
/**=================*/

/**=================*/
/**=======NAV=======*/
/**=================*/
nav{
    position: sticky;
    top: 0;
}
.navbar{
    background-color: gold;
    height: 10vh;
    overflow: hidden;
}
.navbar img{
    clear: both;
    display: inline-block;
    height: 8vh;
    width: auto;
    margin-left: 1%;
}
.space{
    display: inline-block;
    height: 8vh;
    margin-top: 1vh;

}
#sleft{
    width: 10%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);    
}
#sright{
    width: 15%;
    border-left: 1px solid rgba(0, 0, 0, 0.2);    
}

.html-link{
	display: inline-block;
	padding: 20px 0px 10px;
	width: 15%;
	text-align: center;
	color: #000;
}
.html-link:hover{
    background: #1D2F3D;
	color: #fff;
	text-decoration: none;
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
    border-top: 3px solid rgba(250, 250, 250, 0.2) ;
}
#home-page{
	padding: 20px 10px 10px ;
    margin-right: 2%;
    border-radius: 100%;
    background-color: #000;
    height: 10vh;
    width: auto;
}
#home-page:hover{
    border: 0;
    background-color: darkslategray;
    transition: ease-out .2s;
}
.home{
    margin-top: -2vh;
}
/**=================*/
/**=======LOG=======*/
/**=================*/
.login{
    margin-top: 1px;
    width: 15%;
    height: 10vh;
}
.login a{
    background-color: #000;
    color: white;
    height: 40%;
    justify-content: center;
    display: flex;
    margin-left: 3px;
    margin-top: 3px;
    width: 95%;
    flex-wrap: wrap;
    line-height: 25px;
}
.login a:hover{
    background-color: darkgreen;
    color: yellowgreen;
    transition: ease-in-out .3s;
}

/**=================*/
/**=======LOG=======*/
/**=================*/

/**=================*/
/**=======NAV=======*/
/**=================*/
.imatge-portada{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: auto;
    background-color: #1D2F3D;
}
/**=================*/
/**======HEADER=====*/
/**=================*/

/**=================*/
/**=======MAIN======*/
/**=================*/

main{
    background-color: #fff;
    padding-top: 10px;
    justify-content: space-around;
    min-height: 120vh;
   
}
.main-content{
 
    flex-direction: column;    
    background: peru;
    position: static;
    margin-left: 22%;
    width: 72%;
    margin-right: 5%;

    
}
section{

    width: 95%;
    min-height: 50vh;
    background-color: rgba(255, 255, 255, 0.4);
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 4px;

}
/**=================*/
/**=======ASIDE=====*/
/**=================*/
.index {
    background-color: palegoldenrod;
    height: 100vh;
    position: sticky;
    top: 0;
    width: 20%;
    border-right: 8px double #000;
    border-top: 10px dashed #000;
    border-bottom: 10px dashed #000;
    float: left;

}
aside h3{
    margin-top: 2px;
    text-decoration-line: underline;
    text-align: center;
    color: maroon;
    line-height: 100px;
}
aside p{
    
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}
aside li{
    text-align: center;
    line-height: 50px;
}
/**=================*/
/**=======ASIDE=====*/
/**=================*/
/**=================*/
/**=======UP========*/
/**=================*/
.up{
    position: sticky;
    bottom: 0;
    width: 4%;
    height: 8vh;
    margin-right: 1%;
    float: right;
    margin-left: 96%;

}
.up img{
    width: auto;
    height: 8vh;

}

/**=================*/
/**=======UP========*/
/**=================*/

.main-content p{
    background-color: rgba(255, 255, 255, 0.9);
}
h2{
    border-top: 2px dashed palegoldenrod;
    color: maroon;
    background-color: #322;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-align: center;
}
iframe{
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
/**=================*/
/**=======MAIN======*/
/**=================*/
.spai{
    background-color: white;
    width: 100%;
    height: 15vh;
}
/**=================*/
/**======FOOTER=====*/
/**=================*/
.fa-twitter{
    background: #55ACEE;
    color: white;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
     .fa:hover {
        opacity: 0.7;
    }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-instagram{
    background: #125688;
    color: white;
  }
  .fa-youtube{
    background: #bb0000;
    color: white;
  }
  footer{
    border-top: 10px solid gold;
    
  }
/**=================*/
/**======FOOTER=====*/
/**=================*/
